<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<h1 class="text-center fontwhitener">Edit your profile</h1>
		<p class="text-center fontwhitener">Be a part of the Dev Match community and fill out your profiles</p>
		<div class="well">
			<%= render 'form' %>
		</div>
	</div>
</div>