@import "bootstrap-sprockets";
@import "bootstrap";

@import "font-awesome-sprockets";
@import "font-awesome";



.fontwhitener{
	color: #000;
}

.alert-notice{
	color: #816d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}